<div class="card text-center">
    <div class="card-header">
      Employee Management System
    </div>
    <div class="card-body">
      <h5 class="card-title">List Of All Employee's</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="/emp/home" class="btn btn-primary">Go Employee's List</a>
    </div>
    <div class="card-footer text-muted">
      <a href="/emp/add-emp" class="btn btn-success">Add Employee</a>

      <hr>
    </div>
  </div>